.tripsContainer {
  padding: 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titleSection {
  width: 100%;
}

.addTripButton {
  float: right;
}

.tripContainer {
  padding: 5px 0px;
  width: 100%;
  border-bottom: solid #F9A03F;
  cursor: pointer;
}

.trip {
  cursor: inherit;
}
