.tripsContainer {
  padding: 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titleSection {
  width: 100%;
}

.titleSection button {
  float: right;
}

.tripContainer {
  padding: 5px 0px;
  width: 100%;
  border-bottom: solid #F9A03F;
}

.tripContainer button {
  border: none;
  font: inherit;
  width: 100%;
  text-align: left;
}

.tripContainer button:hover, button:disabled {
  color: #F9A03F;
}
